body {
  @include font_1_regular();
  font-size: rem(16);
  background-color: lightblue;
  margin: 0 auto;
  max-width: rem(1440);
}

// Center body
.container {
  background-color: #ceeaf4;
  margin: 0 auto;
  max-width: rem(1050);
}

// Links
a {
  text-decoration: underline;
  color: $darkred;
  &:hover {
    cursor: pointer;
  }
}

// Titres
h1 {
  @include font_1_bold;
  color: $verydarkblue;
  font-size: rem(40);
  margin: rem(0) rem(0) rem(22) rem(0);
  padding: rem(0);
}
h2 {
  @include font_1_bold;
  color: $verydarkblue;
  font-size: rem(30);
  margin: rem(0) rem(0) rem(11) rem(0);
  padding: rem(0);
}
h3 {
  @include font_1_bold;
  color: $verydarkblue;
  font-size: rem(21);
  margin: rem(0) rem(0) rem(10) rem(0);
  padding: rem(0);
}
h4 {
  @include font_1_bold;
  color: $verydarkblue;
  font-size: rem(16);
  margin: rem(0) rem(0) rem(8) rem(0);
  padding: rem(0);
}

// Listes
ol {
  margin: rem(0) rem(0) rem(0) rem(23);
  padding: rem(0);
  line-height: rem(24);
}
.list1 {
  list-style: disc;
  margin: rem(13) rem(0) rem(0) rem(63);
}
.list2 {
  list-style: circle;
}
.list3 {
  list-style: square;
}
.list4 {
  list-style: decimal;
}
.list5 {
  list-style: georgian;
}
.list6 {
  list-style: trad-chinese-informal;
}
.list7 {
  list-style: kannada;
}

// Paragraphes
p {
  line-height: rem(24);
}

//**************** ANIMATION UNDERLINE ****************************************
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  height: rem(2.8);
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform: translate(rem(0), rem(2));
  transition: transform 0.25s ease-out, background-color 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  background-color: $darkred;
  transform: translate(rem(0), rem(14));
}

//***************************************************************************
