// Colors
$darkred: #a30000;
$darkblue: #002976;
$verydarkblue: #141831;
$verydarkgrey: #272727;

// px to rem convertor
$browser-context: 16; // Default

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}
